<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="SmartByteTelemetryLibrary.StatisticsClass" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartByteTelemetryLibrary.StatisticsClass>
            <setting name="Time_TotalUp" serializeAs="Binary">
                <value>AAEAAAD/////AQAAAAAAAAAEAQAAAA9TeXN0ZW0uVGltZVNwYW4BAAAABl90aWNrcwAJxisAAAAAAAAL</value>
            </setting>
            <setting name="Time_TotalUpConnected" serializeAs="Binary">
                <value>AAEAAAD/////AQAAAAAAAAAEAQAAAA9TeXN0ZW0uVGltZVNwYW4BAAAABl90aWNrcwAJAd1iKskAAAAL</value>
            </setting>
            <setting name="Count_BestAP" serializeAs="Xml">
                <value>
                    <unsignedLong>0</unsignedLong>
                </value>
            </setting>
            <setting name="Count_PoorWiFi" serializeAs="Xml">
                <value>
                    <unsignedLong>0</unsignedLong>
                </value>
            </setting>
            <setting name="Count_NoInternet" serializeAs="Xml">
                <value>
                    <unsignedLong>11</unsignedLong>
                </value>
            </setting>
            <setting name="Count_SignalStrengthAndErrorRate" serializeAs="Xml">
                <value>
                    <unsignedLong>0</unsignedLong>
                </value>
            </setting>
        </SmartByteTelemetryLibrary.StatisticsClass>
        <SmartByteTelemetry.Settings1>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviousAssemblyVersion" serializeAs="String">
                <value>3.1.937.0</value>
            </setting>
            <setting name="UpgradeAttempted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateTimeLastHeartBeatSent" serializeAs="String">
                <value>03/24/2021 09:10:29</value>
            </setting>
            <setting name="Statistics" serializeAs="Xml">
                <value />
            </setting>
        </SmartByteTelemetry.Settings1>
    </userSettings>
</configuration>